html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    font-family: 'Quicksand', sans-serif;
    /*background-color: rgb(0, 0, 0);*/
}

@media screen and (min-aspect-ratio: 1/1) {
    body {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    body {
        background-repeat: space;
        background-position: center;
        background-size: 100%;
    }
}

.nowrap {
    white-space: nowrap;
}

.inline {
    display: inline-block;
}

.centerText {
    text-align: center;
}

.bottomIcon {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    /* display: block;
    margin: auto; */
    height: 5vh;
}

.waiting {
    color: green;
}

.notWaiting {
    color: red;
}

.wideband {
    margin: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.655);
}

#mainLine {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: calc(15px + 1vw);
}

/* footer {
    height: 5vh;
    position: absolute;
    bottom: 0px;
} */